<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
<session-factory>

<property name="hibernate.connection.Driver_class">com.mysql.cj.jdbc.Driver</property>
<property name="hibernate.connection.url"> jdbc:mysql://localhost:3306/Railwayproject</property>
<property name="hibernate.connection.user">root</property>
<property name="hibernate.connection.password">Password@123</property>
<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
<property name="hibernate.show_sql">true</property>
<property name="hibernate.hbm2ddl.auto">update</property>
  <mapping class="com.RailwayManagementProject.Entities.Trains"/>
  <mapping class="com.RailwayManagementProject.Entities.Stations"/>
  <mapping class="com.RailwayManagementProject.Entities.Schedules"/>
  <mapping class="com.RailwayManagementProject.Entities.Tickets"/>
  <mapping class="com.RailwayManagementProject.Entities.Employees"/>
  <mapping class="com.RailwayManagementProject.Entities.Maintenance_Record"/>
  <mapping class="com.RailwayManagementProject.Entities.Seats"/>

</session-factory>
</hibernate-configuration>